<div class="flex-col mt-5 mr-0 pt-1 pl-5">
  <ul class="list-none text-white text-left pb-2">
    <li class="transition-all duration-300 ease-in-out border-t-2 border-l-2 pl-2 border-b-2 border-blue-500 border-opactiy-100 bg-blue-400 hover:bg-white hover:text-blue-800 rounded-t">
      <%= link_to "Sign up", new_registration_path(resource_name), class: "align-middle pb-1 w-full inline-block" %>
    </li>
    <li class="transition-all duration-300 ease-in-out border-b-2 border-l-2 pl-2 border-blue-500 border-opactiy-100 bg-blue-400 hover:bg-white hover:text-blue-800 rounded-b">
      <%= link_to "Sign in", new_user_session_path, class: "align-middle pb-1 w-full inline-block" %>
    </li>
  </ul>
</div>