<div class="flex-col">
  <%= link_to "Aviny", root_path, class: "text-5xl antialiased font-logo text-blue-50" %>
</div>

<div data-controller="menu">
<!-- Account -->
  <div class="flex-col mt-5 mr-0 pt-1 pl-5 bg-blue-300"  >
    <button class="text-blue-50 font-logo pl-3 outline-none" data-action="click->menu#visible" data-menu-value="acc">Account</button>
    <ul class="list-none text-white text-left hidden pb-2" data-menu-target="account">
      <%= render 'layouts/account_menu' %>
    </ul>
  </div>

<!-- Messages -->
  <% if user_signed_in? %>
    <div class="flex-col mr-0pt-1 pl-5 bg-blue-300">
      <button class="text-blue-50 font-logo pl-3 outline-none" data-action="click->menu#visible" data-menu-value="mes">Messages</button>
      <ul class="list-none text-white text-left hidden pb-2" data-menu-target="messages">
        <%= render 'layouts/messages_menu' %>
      </ul>
    </div>
  <% end %>
</div>