<ul class="list-none text-white text-left">
  <li class="transition-all duration-300 ease-in-out border-t-2 border-l-2 pl-2 border-b-2 border-blue-500 border-opactiy-100 bg-blue-600 hover:bg-white hover:text-blue-800">
    <%= link_to "New message", "#", class: "align-middle pb-1 " %>
  </li>
</ul>
